<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zhenyuyang.cec150.ece.ucsb.edu.project">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- API key for the Android Maps API v2. The value is defined as a string resource. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBmp8HEDHlRbUmSMAGV8TfHL4cZkSGOETk" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".newTown"
            android:label="@string/title_activity_new_town"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".NewTitleActivity" />
        <activity android:name=".NewAddressActivity"></activity>
    </application>

</manifest>